
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.contact_title{
    position: relative;
}
.contact_title h1{
    padding: 0px 30px;
    font-size: 55px;
    font-family: 500;
}
.contact_title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    height: 50px;
}
.contact_section{
    display: flex;
    gap: 150px;
}
.contact_left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact_left h1{
    font-size: 50px;
    font-family: 500;
    background: linear-gradient(270deg, #DF8908 80%,#B415ff 100%);
    background-clip: text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}
.contact_left p{
    font-size: 18px;
    line-height: 30px;
    max-width: 550px;

}
.contact_details{
    display: flex;
    flex-direction: column;
    font-size: 20px;

    gap: 20px;
}
.contact_detail{
    display: flex;
    gap: 20px;
    align-items: center;
}
.contact_right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}
.contact_right label{

    font-size: 20px;
    font-weight: 400;
}
.contact_right input{
    border: none;
    padding-left: 20px;
    width: 600px;
    height: 60px;
    background-color: #4c4c4f;  
    font-family: Outfit;
    font-size: 20px;
    border-radius: 4px;
}
.contact_right textarea{
    border: none;
    padding: 25px;
    width: 650px;
    background-color: #4c4c4f;  
    font-family: Outfit;
    font-size: 20px;
    border-radius: 4px;
}
.contact_sub{
    padding: 13px 40px;
    border-radius: 50px;
    background:linear-gradient(264deg,#DF8908 -5.09%,#B415FF 106.28%);
    cursor: pointer;
    border: none;
    color: white;
    font-size: 20px;
    margin-bottom: 50px;
    transition: 0.3s;

}
.contact_sub:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
@media (max-width: 768px) {
    .contact {
        margin: 40px 20px;
        gap: 40px;
    }

    .contact_title h1 {
        font-size: 40px;
        padding: 0 20px;
    }

    .contact_title img {
        height: 30px;
    }

    .contact_section {
        flex-direction: column;
        gap: 40px;
    }

    .contact_left {
        gap: 20px;
    }

    .contact_left h1 {
        font-size: 30px;
    }

    .contact_left p {
        font-size: 16px;
        line-height: 24px;
        max-width: 100%;
    }

    .contact_details {
        font-size: 15px;
        gap: 15px;

    }

    .contact_details img{
        width: 20px;
        height: 20px;
    }

    .contact_detail {
        flex-direction: row;
        gap: 10px;
    }

    .contact_right {
        width: 100%;
        gap: 10px;
        margin-left: 20px;
    }

    .contact_right label {
        font-size: 18px;
    }

    .contact_right input,
    .contact_right textarea {
        width: 80%;
        padding: 15px;
        font-size: 16px;
        height: 15px;
    }

    .contact_right textarea {
        height: auto;
    }

    .contact_sub {
        padding: 10px 30px;
        font-size: 18px;
        margin-bottom: 30px;
    }
}
